

.lz-header{

    height:clamp(56px,7vh,70px);

    padding:0 clamp(14px,2vw,34px);

}



.lz-main{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

    background:linear-gradient(
        to bottom,
        #111,
        #141414
    );

}
